:root{
    --primary-color:#DBEAFE;
}

body{
    background: var(--primary-color);
}

.heading{
    padding:2rem;
    text-align:center;
}

.container{
    margin: 0px 20%;
    text-align:center;
    border: 1px solid;
    border-radius: 0.5rem;
}

.container input{
    margin: 1rem 1rem;
    max-width:10rem;
    height:2rem;
    font-size:1rem;
}

.container button{
    margin: 1rem 1rem;
    padding: 0.5rem 0.5rem;
    border-radius: 8px;
}

.change-table {
    width: 50%;
    text-align: justify;
    border-collapse: collapse;
    margin: auto;
  }
  
  .change-table caption {
    margin: 1rem auto;
    font-size: x-large;
    font-weight: 500;
  }
  
  th,
  td {
    border: 2px solid var(--primary-color);
    width: 0%;
    border-collapse: collapse;
    padding: 0.4rem;
  }